.ui-helper-reset {
    line-height: inherit;
}

.ui-menu {
    width: 100%;
    padding: 0px;
}

.ui-widget .ui-widget {
    font-size: 1.1em;
}

.ui-widget {
    font-family: inherit;
    font-size: 1.0rem;
}

.ui-menu.ui-widget {
    background: #4dbd74;
    border: 0px;
    border-radius: 0px;
}

.ui-menu.ui-widget a {
    color: #fff;
}

.ui-menu.ui-widget li > .ui-menuitem-link {
    padding: 0.85rem 1rem;
}

.ui-menu .ui-menuitem-link {
    width: 100%;
    border: 0px;
    line-height: inherit;
}

.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-icon {
    margin-left: 0;
}

.ui-widget-header {
    background: #4dbd74;
    border: 0;
}

.ui-button-text-only .ui-button-text {
    padding: 0;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header {
    width: 100%;
    padding: 0.75rem 1rem;
}

.ui-menu .ui-menu-list .ui-widget-header {
    margin: 0px;
}

.ui-menu .ui-separator {
    height: 100%;
}

li[class*="ui-submenu-child"][role="menuitem"] {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 4px 0 0 #17a2b8;
}

.sidebar .ui-state-hover {
    color: #fff;
    background: #20a8d8;
}

.ui-icon-carat-1-e {
    background-position: -32px 0;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header h3 {
    padding-left: 0em;
    font-weight: normal;
}

.ui-menu.ui-menu-toggleable li.ui-widget-header .ui-icon {
    left: 90%;
}

.sidebar .nav-link:hover {
    color: #fff;
    background: transparent;
}

.sidebar .nav-link .nav-icon {
    margin: 0.4em 0.5rem 0 0;
}

.ui-icon-triangle-1-e {
    background-position: -32px 0px;
}

.ui-icon-triangle-1-s {
    background-position: -64px 0px;
}
