/* Button Style */

A {
    color: black; /* Цвет ссылок */
}
A:visited {
    color: black; /* Цвет посещенных ссылок */
}
A:active {
    color: red; /* Цвет активных ссылок */
}

/*Стиль зеленой кнопки для Расчета*/
input.submit {

    height: 47px;
    font-size: 18px !important;
    background-color: #57d6c7;
    font-weight: bold;
    text-shadow: 1px 1px #57D6C7;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #57D6C7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.contact_form input {
    /*height:20px; */
    width:400px;
    text-align: center;
    padding:15px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}

.contact_form input, .contact_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.contact_form input, .contact_form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}


/*Фиолетовая кнопка в самом начале*/
a.buttons {
    width: 179px;
    height: 32px;
    text-decoration: none;
    padding-top: 9px;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 17px arial;
}

a.buttons:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.buttons:not(.active):hover,
a.buttons:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.buttons:not(:hover) {
    transition: 0.6s;
}


.wrapper2{
    width:540px;
    height:70px;
    margin:0px auto;
    padding-left:30px;
    padding-right:30px;
    padding-top: 30px;
    position: relative;
    margin: 20px auto;


}

.wrapper{
    width:600px;
    height:100px;
    margin:0px auto;
    text-align: center;
    padding-top:50px;

    position: relative;

}

.modal-dialog,
.modal-content {
    height: 60%;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

textarea#paste {
    height: 150px;
}

/*------- Стили для Инпут-боксов -------------*/
input#type1 {
    width: 20px;
    border: 0px!important;
    box-shadow: none;
}
input#type2 {
    width: 20px;
    border: 0px!important;
    box-shadow: none;
}

input#type3 {
    width: 20px;
    border: 0px!important;
    box-shadow: none;
}

/* --------------------------------------------- */

.container {
    text-align: center;
}

.result {
    text-align: center;
}

.resulttable {
    margin:10px auto;
    width: 50%;
}

table#thetable {
    margin: auto;
}

table#table4Coeff {
    margin: auto;
    width: 600px;
}
table#table4Drivers {
    margin: auto;
    width: 1100px;
    font-family: 	Arial, Verdana, sans-serif;
    font-size:	7px;
}

table#table4Partners {
    margin: auto;
    width: 1100px;
    font-family: 	Arial, Verdana, sans-serif;
    font-size:	9px;
    margin-left: -150px;
}

table#table4Bonuses {
    width: 900px;
    margin-left: -20px;
}


div.wrapper2 {
    margin-top: 600px;
    width: 98%;
    margin: 0 auto;
    padding-top: 15px;
}

div.left_block {
    float:left;
    width:93%;

}
div.right_block {
    float:left;
    width:60px;
    margin-left: 5px;
}

#line_block {
    width:180px;
    height:50px;
    float:left;
    margin: 0 15px 15px 0;
    text-align:center;
    padding: 10px;
}
#line_block_center {
    width:15px;
    height:50px;
    float:left;
    margin: 0 15px 15px 0;
    text-align:center;
    padding: 10px;
}

#line_block_right {
    width:180px;
    height:50px;
    float:left;
    margin: 0 15px 15px 0;
    text-align:center;
    padding: 10px;
}


.wrapper3 {
    position: absolute;
    left: 50%;
    margin-left: -200px;
}



