<div class="animated fadeIn">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Horizontal</strong> Form
      </div>
      <div class="card-body">
        <form #userForm="ngForm" action="" method="post" class="was-validated">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-email">CalcID #1</label>
            <div class="col-md-9">
              <input  type="text" id="hf-email" name="hf-email" class="form-control" placeholder="Enter calcID #1" [(ngModel)]="req.calcID1" required>
              <div class="valid-feedback">
                Input is valid.
              </div>
              <div class="invalid-feedback">
                Please provide a valid information.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="hf-password">CalcID #1</label>
            <div class="col-md-9">
              <input type="text" id="hf-password" name="hf-password" class="form-control" placeholder="Enter calcID #2" [(ngModel)]="req.calcID2" required>
              <div class="valid-feedback">
                Input is valid.
              </div>
              <div class="invalid-feedback">
                Please provide a valid information.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" >ГДЕ СЧИТАЕМ [ВРЕМЕННЫЙ ПЕРЕКЛЮЧАТЕЛЬ]</label>

            <div class="col-md-9 col-form-label">

              <div class="form-check">
                <ul class="list-group">
                <li class="list-group-item"  *ngFor="let item of itemsList">
                  <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/> {{item.name}}
                </li>
                </ul>
              </div>
            </div>
            <div>
              <p>{{radioSelectedString}}</p>
            </div>
          </div>



          <div class="card-footer">
            <div class="row align-items-center mt-3">
              <div class="col-md-6">
                <button type="submit" class="btn btn-block btn-success" (click)="change(req)" [disabled]="userForm.invalid"><i class="fa fa-dot-circle-o"></i> СРАВНИТЬ </button>
              </div>
              <div class="col-md-6">
                <button type="reset" class="btn btn-block btn-danger" (click)="testV()"><i class="fa fa-ban"></i> СТЕРЕТЬ </button>

              </div>
            </div>
          </div>

        </form>
      </div>

    </div><!--/.col-->




  </div>
</div>

