<div class="animated fadeIn">


  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Combined All Table
        </div>
        <div class="card-body">
          <!--table-striped-->
          <table id="contentToConvert" class="table table-bordered  table-sm">

            <tbody>

            <tr [ngClass]="{'green': el.compare == false}" *ngFor="let el of returnedArray">
                <td>{{el.key}}</td>
                <td>{{el.val1}}</td>
                <td>{{el.val2}}</td>
              <td>
                <div *ngIf="el.compare == true">
              <span class="badge badge-success">{{getCompareStatus(el.compare)}}</span>
              </div>
              <div *ngIf="el.compare == false">
              <span class="badge badge-danger">{{getCompareStatus(el.compare)}}</span>
              </div>
              </td>
              </tr>

            </tbody>
          </table>

            <div>
              <input type="button" value="COPY HTML" (click)="captureScreen()"/>
            </div>
            <div>
              <input type="button" value="GENERATE PDF" (click)="captureScreenToPdf()"/>
            </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

