<div class="animated fadeIn">
  <div class="row">


    <div class="col-md-12 mb-auto">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-list"></i> Форма ввода calcID &nbsp;</ng-template>
          <app-form-component (onChanged)="onChanged($event)"></app-form-component>
          <button type="button" class="btn btn-info" (click)="openModal()">Create template modal</button>

        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> WsCalcLogs &nbsp;
            <span [ngClass]="(notEqualsParams>0)?'badge badge-pill badge-danger':'badge badge-pill badge-success'">{{notEqualsParams}}</span>
          </ng-template>

          <div>
            <app-tables-component [childElements]="premiumsO"></app-tables-component>
          </div>

        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> WsCommonLogs
            <span [ngClass]="(notEqualsCount[1]>0)?'badge badge-pill badge-danger':'badge badge-pill badge-success'">{{notEqualsCount2[2]}}</span>
          </ng-template>

          <div>
            <app-tables-component [childElements]="wsCommonLogs"></app-tables-component>
          </div>

        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Pagination</ng-template>
          <div>
          <app-badges-component></app-badges-component>
          </div>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->


  <ng-template #successModal>



      <div class="modal-header">
      <h4 class="modal-title pull-left">Сервис сравнения результатов расчетов</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{getCompareResultMessage()}}
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    </div>

  </ng-template>



</div>
