<div class="animated fadeIn">
  <div class="row">


    <div class="col-md-12 mb-auto">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-list"></i> Menu &nbsp;<span class="badge badge-success">New</span></ng-template>
          <app-form-component></app-form-component>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Calculator &nbsp;<span class="badge badge-pill badge-danger">29</span></ng-template>
          Вкладка №2
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Charts</ng-template>
          Вкладка №3
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
